@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  background-color: #F2F2F2;
}

.body-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: #000000;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.button-brown {
  background-color: #756257;
  border:none
}

.button-green {
  background-color: #7DB54F;
}

ul,
ol {
  list-style-type: none;
}

/* Header */

.page-header {
  width: 1200px;
}

.logo {
  width: 138px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0 72px;
  box-sizing: border-box;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 431px;
  margin: 0;
  padding: 0;
}

.navigation-link {
  display: block;
  padding: 19px 17px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-user {
  display: flex;
  justify-content: end;
  flex-grow: 1;
  width: 431px;
  align-items: center;
}

.navigation-item-icon {

  margin-right: 25px;
}

.navigation-link-icon {
  display: block;
  width: 18px;
  height: 18px;
  padding: 10px;
}

.search-icon {
  margin-right: 21px;
}

.favorites-icon {
  margin-right: 33px;
}

.navigation-button {
  display: block;
  min-width: 160px;
  padding: 10px;
  background-color: #756257;
}

/* Main */

.main-container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.welcome-logo {
  display: block;
  margin: 0 auto;
}

.welcome {
  background-image: url("../img/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.welcome-container {
  padding-top: 51px;
  padding-bottom: 82px;
  margin-bottom: 63px;
}

.main-heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 23px;
  text-transform: uppercase;
}

.text-heading {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
  margin-bottom: 79px;
}

/* Advantages */

.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 768px 384px 384px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.advantages-item.advantages-item-container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.advantages-item.advantages-item-container,
.advantages-item.advantages-item-container:nth-child(even) {
  background-color: #83B3D3;
  color: #FFFFFF;
}

.advantages-item.advantages-item-container:nth-child(2) {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-column: 1/-1;
  margin: 0;
}

.advantages-photo:first-child {
  grid-column: 2/4;
  grid-row: 1/2;
  width: 800px;
}

.advantages-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 384px;
  padding-top: 98px;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 77px;
  box-sizing: border-box;
}

.sedona-content {
  grid-column: 1/2;
  grid-row: 1/2;
}

.bridge-content {
  grid-column: 2/3;
  grid-row: 1/2;
}

.advantages-item {
  width: 400px;
  margin: 0;
  background-color: #83B3D31F;
}

.advantages-item:nth-child(even) {
  background-color: #83B3D333;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.advantages-number {
  margin-bottom: 26px;
}

.advantages-text {
  margin: 0;
}

/* Tips*/

.tips-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  width: 1200px;
  height: 384px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}

.tips-item {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding-top: 89px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 79px;
  box-sizing: border-box;
}

.tips-item:nth-child(odd) {
  background-color: #83B3D31F;
}

.tips-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  margin: 0;
}

.tips-text {
  color: #333333;
  margin: 0;
}

/* Search */

.search {
  text-align: center;
  padding: 91px 0;
  margin: 0 auto;
}

.search-heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-description {
  margin-bottom: 73px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.search-button {
  display: block;
  width: 575px;
  margin: 0 auto;
  padding-top: 13px;
  padding-bottom: 17px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}

/* index-newsletter */

.index-newsletter {
  width: 1200px;
  margin: 0;
  padding-top: 94px;
  padding-bottom: 93px;
  text-align: center;
  color: #FFFFFF;
  background-image: url("../img/newsletter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-title {
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.newsletter-form {
  display: grid;
  grid-template-columns: 600px 200px;
  width: 800px;
  margin: 0 auto;
}

.newsletter-email {
  width: 600px;
  margin: 0;
}

.field {
  width: 100%;
  padding-top: 21px;
  padding-left: 22px;
  padding-bottom: 21px;
  margin: 0;
  box-sizing: border-box;
}

.newsletter-logo {
  margin-bottom: 26px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.newsletter-button {
  height: 60px;
  font-size: 20px;
  line-height: 26px;
}

/* Page-footer */

.page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  padding: 0;
  margin: 0;
}

.footer-social-link {
  display: block;
  width: 20px;
  height: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.phone {
  width: 720px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

/* Catalog */

.main-header {
  margin-bottom: 45px;
}

.main-container-photo {
  margin: 0 auto;
  padding-top: 35px;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 83px;
  margin-bottom: 44px;
  background-image: url("../img/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.header-title {
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  margin-right: 11px;
}

.breadcrumbs-link {
  padding: 5px;
  font-size: 16px;
  line-height: 21px;
  color: inherit;
}

/* Filters */

.catalog-filters {
  display: grid;
  grid-template-columns: 217px 191px 368px 160px;
  grid-template-rows: 151px;
  column-gap: 40px;
  align-items: stretch;
  width: 100%;
  min-height: 151px;
  margin: 0 auto;
  color: #FFFFFF;
}

.catalog-filters-group {
  display: grid;
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-filters-list {
  padding: 0;
  margin: 0;
}

.catalog-filters-title {
  margin-bottom: 36px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.button-container {
  display: grid;
  grid-template-columns: 160px;
  grid-template-rows: 48px 48px;
  row-gap: 20px;
  align-items: baseline;
  margin-right: 0;
  padding-top: 60px;
  width: 160px;
  height: 91px;
}

.apply-button {
  width: 160px;
  height: 48px;
  border: none;
}

/* Sorting */

.sorting-type-container {
  display: flex;
  width: 1057px;
  min-height: 48px;
  margin: 0 auto;
  margin-bottom: 42px;
  padding: 0 72px;
}

.sorting-title {
  margin: 0;
  width: 337px;
  margin-right: 192px;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.select-control {
  width: 287px;
  height: 48px;
  margin-right: 81px;
}

.sorting-hotels {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 160px;
  padding: 0;
  margin: 0;
}

.sorting-item {
  margin-right: 8px;
}

.sorting-item:last-child {
  margin-right: 0;
}

.sorting-item-link {
  display: block;
  width: 48px;
  height: 48px;
  padding: 17px 16px;
  box-sizing: border-box;
}

/* Hotels-catalog */

.hotels-katalog {
  margin: 0 auto;
  padding-left: 72px;
  padding-right: 72px;
  margin-bottom: 89px;
}

.hotels-list {
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
}

.hotels-card {
  display: grid;
  grid-template-columns: 180px 208px 160px 1fr 160px;
  grid-template-rows: repeat(2, 90px);
  gap: 8px;
  background-color: #FFFFFF;
  width: 1056px;
}

.hotels-card-image {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 180px;
  align-items: center;
}

.hotels-card-link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.hotels-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
}

.hotels-type {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.hotels-card-price {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.hotels-card-button {
  grid-column: 3/4;
  grid-row: 2/3;
  width: 151px;
  height: 37px;
  text-align: center;
}

.hotels-card-button.button-brown {
  grid-column: 2/3;
  grid-row: 2/3;
}

.hotels-card-button.button-green {
  grid-column: 3/4;
  grid-row: 2/3;
}

.four-stars-hotel {
  grid-column: 5/6;
  grid-row: 1/2;
  margin: 0;
}

.three-stars-hotel {
  grid-column: 5/6;
  grid-row: 1/2;
  margin: 0;
}

.two-stars-hotel {
  grid-column: 5/6;
  grid-row: 1/2;
  margin: 0;
}

.stars-hotel-two {
  grid-column: 5/6;
  grid-row: 1/2;
  margin: 0;
}

.rating {
  grid-column: 5/6;
  grid-row: 2/3;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

/* Pagination */

.pagination-container {
  display: flex;
  flex-direction: row;
  width: 1056px;
  min-height: 55px;
  margin: 0 auto;
}

.pagination {
  display: flex;
  flex-direction: row;
  min-width: 371px;
  min-height: 55px;
  padding: 0;
  margin: 0;
  margin-right: 301px;
  margin-bottom: 89px;
}

.pagination-link {
  display: block;
  padding: 23px 23px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
}

.pagination-item:not(:last-child) {
  margin-right: 7px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-show-more {
  display: block;
  margin: 0 auto;
  width: 625px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 61px;
}

.quantity {
  margin-right: 51px;
}

.select-control {
  width: 160px;
  padding-left: 13px;
  margin: 0;
  margin-left: 0 auto;
}

/* Newsletter */

.newsletter {
  margin: 0 auto;
  text-align: center;
  color: #000000;
}
