@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  background-color: #F2F2F2;
}

.body-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: #000000;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.button-brown {
  background-color: #756257;
}

.button-green {
  background-color: #7DB54F;
}

ul,
ol {
  list-style-type: none;
}

/* Header */

.page-header {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 138px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 431px;
  margin: 0;
  padding: 0;
}

.navigation-link {
  display: block;
  padding: 19px 17px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-user {
  display: flex;
  justify-content: end;
  flex-grow: 1;
  width: 431px;
  margin-right: 72px;
  align-items: center;
}

.navigation-item-icon {
  width: 18px;
  height: 18px;
  margin-right: 25px;
}

.navigation-link-icon {
  padding: 23px;
}

.navigation-button {
  display: block;
  min-width: 160px;
  background-color: #756257;
}

.navigation-button.button {
  padding: 10px;
}

/* Main */

.main-container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.welcome-logo {
  display: block;
  margin: 0 auto;
}

.welcome {
  background-image: url("../img/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.welcome-container {
  padding-top: 51px;
  padding-bottom: 82px;
  margin-bottom: 63px;
}

.main-heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 23px;
  text-transform: uppercase;
}

.text-heading {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
  margin-bottom: 79px;
}

/* Advantages */

.advantages-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-container {
  display: flex;
  width: 1200px;
  color: #FFFFFF;
}

.advantages-container,
.advantages-container:nth-child(even) {
  background-color: #83B3D3;
}

.advantages-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 384px;
  padding-left: 90px;
  padding-right: 90px;
}

.advantages-photo {
  order: 2;
}

.bridge-photo {
  order: -1;
}

.advantages-item {
  width: 400px;
  background-color: #83B3D31F;
}

.advantages-item:nth-child(even) {
  background-color: #83B3D333;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  padding-top: 98px;
  margin-bottom: 28px;
  text-transform: uppercase;
}

.advantages-text {
  padding-bottom: 77px;
}


/* Tips */

.tips-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  width: 1200px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}

.tips-item {
  width: 400px;
  text-align: center;
}

.tips-item:nth-child(odd) {
  background-color: #83B3D31F;
}

.tips-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.tips-text {
  color: #333333;
  padding-bottom: 79px;
}

/* Search */

.search {
  text-align: center;
  padding: 91px 0;
}

.search-heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-description {
  margin-bottom: 73px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.search-button {
  display: block;
  width: 575px;
  margin: 0 auto;
  padding-top: 13px;
  padding-bottom: 17px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}

/* index-newsletter */

.index-newsletter {
  width: 1200px;
  padding-top: 94px;
  padding-bottom: 93px;
  text-align: center;
  color: #FFFFFF;
  background-image: url("../img/newsletter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-title {
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.newsletter-logo {
  margin-bottom: 26px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.newsletter-button {
  font-size: 20px;
  line-height: 26px;
}

/* Page-footer */

.page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  padding: 0;
  margin: 0;
}

.footer-social-item:first-child {
  margin-left: 0;
}

.footer-social-link {
  width: 20px;
  height: 20px;
  padding: 20px;
}

.phone {
  width: 720px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

/* Catalog */

.main-header {
  padding-top: 35px;
  padding-left: 71px;
  background-image: url("../img/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.header-title {
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  color: #FFFFFF;
}

.breadcrumbs-item {
  margin-right: 11px;
}

.breadcrumbs-link {
  padding: 12px 12px;
  font-size: 16px;
  line-height: 21px;
  color: inherit;
}

/* Filters */

.catalog-filters-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
}

.hotel-filters-container {
  display: flex;
  margin-bottom: 44px;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

/* Sorting */

.sorting-type-container {
  display: flex;
  width: 1200px;
  margin-bottom: 42px;
  padding: 0;
}

.sorting-title {
  margin-top: 50px;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.select-control {
  width: 287px;

  margin-right: 81px;
}

.sorting-hotels {
  display: flex;
  align-items: center;
  padding-right: 72px;
  margin: 0;
  margin-left: auto;
}

.sorting-item {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.sorting-item:last-child {
  margin-right: 0;
}

.sorting-item-link {
  padding: 17px;
}

/* Hotels-catalog */

.hotels-katalog {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.hotels-card {
  background-color: #FFFFFF;
}

.hotels-card-link {
  text-decoration: none;
}

.hotels-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
}

.hotels-type {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.hotels-card-price {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.rating {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

/* Pagination */

.pagination {
  display: flex;
  margin-top: 31px;
}

.pagination-link {
  display: block;
  width: 55px;
  height: 55px;
  padding: 15px 15px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-item:not(:last-child) {
  margin-right: 7px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-show-more {
  display: block;
  margin: 0 auto;
  width: 625px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px;
}

.quantity {
  margin-left: auto;
}

/* Newsletter */

.newsletter {
  text-align: center;
  color: #000000;
}
